.sidebar {
    width: 50px;
    height: 240px;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 150px;
}
.sidebar img {
    cursor: pointer;
    width: 40px;
}
.sidebar:hover {
    margin-left: 0px;
}